.venv/
__pycache__/
*.pyc
build/
dist/
exports/
backups/
pdfs/
pacote_envio/
*.db
*.sqlite
*.sqlite3
*.log
*.spec
*.zip
assets/anexos/
assets/imagens_itens/
assets/imagens_perfil/
assets/imagens_produtos/
!assets/logo_empresa.png
